:root {
  --main-black-color: #000000;
  --main-white-color: #ffffff;
  --accent-color: #2196f3;
  --dark-main-color: #212121;
  --text-color: #757575;
  --main-footer-color: #2f303a;
  --background-primary-gray: #f5f4fa;
  --white-header-color: #ececec;
  --background-primary-darck: rgba(47, 48, 58, 0.8);
  --logo-company-color: #afb1b8;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
}

ul,
li {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.nav-main__link {
  cursor: pointer;
}

footer {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: Roboto, sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
@media screen and (min-width: 480px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.title {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: var(--dark-main-color);
}

.header {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ececec;
}
@media screen and (min-width: 768px) {
  .header {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.web-logo {
  color: var(--accent-color);
}

.studio-logo {
  color: black;
}

.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 768px) {
  .header-logo {
    margin-right: 88px;
  }
}
.navigation {
  display: none;
}
@media screen and (min-width: 768px) {
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .navigation {
    display: block;
  }
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.navigation__link {
  line-height: 1.4;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__link:hover, .navigation__link:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .navigation__link {
    line-height: 1.14;
  }
}

.current-page-link {
  position: relative;
  color: var(--accent-color);
}
.current-page-link::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -37px;
  background-color: var(--accent-color);
  border: none;
  border-radius: 2px;
}
@media screen and (min-width: 1200px) {
  .current-page-link::after {
    bottom: -33px;
  }
}

.connect__list {
  display: none;
}
@media screen and (min-width: 768px) {
  .connect__list {
    display: block;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 10px;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .connect__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .connect__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .connect__item:not(:last-child) {
    margin-right: 30px;
  }
}

.connect__tell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: var(--text-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.connect__tell:hover, .connect__tell:focus {
  color: #2196f3;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .connect__tell {
    font-size: 12px;
    line-height: 1.16;
  }
}

.connect__mail {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--text-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.connect__mail:hover, .connect__mail:focus {
  color: #2196f3;
}
@media screen and (min-width: 768px) {
  .connect__mail {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .connect__mail {
    font-size: 12px;
    line-height: 1.16;
  }
}

.connect__icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  fill: currentColor;
  margin-right: 10px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-main__mail:hover .connect__icon, .nav-main__mail:focus .connect__icon {
  fill: #2196f3;
}

.menu__open__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 0;
  margin-left: auto;
  background: transparent;
  border: 1px solid rgb(255, 255, 255);
}
@media screen and (min-width: 768px) {
  .menu__open__btn {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .menu__open__btn {
    display: none;
  }
}

.open__icon {
  fill: #212121;
  background-color: #ffffff;
  border: none;
}

.mob__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  background-color: #ffffff;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 40px 48px;
}
.mob__menu > .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .mob__menu {
    display: none;
  }
}

.menu__close__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  height: 30px;
  cursor: pointer;
  display: block;
  margin-left: auto;
  background: transparent;
  border: 1px solid rgb(255, 255, 255);
}
@media screen and (min-width: 768px) {
  .menu__close__btn {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .menu__close__btn {
    display: none;
  }
}

.close__icon {
  display: block;
  fill: currentColor;
  margin: auto;
  background: #ffffff;
  border-radius: 4px;
  border-radius: 50%;
}
.close__icon:hover, .close__icon:focus {
  color: #2196f3;
}

.mob__menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob__menu__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.6;
  letter-spacing: 0.02em;
  color: #212121;
}

.mob__connect__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob__connect__mail {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #757575;
}

.mob__connect__tell {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mob__soc__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mob__soc__item:not(last-child) {
  margin-right: 20px;
}

.mob__soc__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2x;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.menu {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .menu {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.button-logo {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--dark-main-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px 8px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .button-logo {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .button-logo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 50px;
  }
}

.button-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: #212121;
  background: #f5f4fa;
  border-radius: 4px;
  border: 0px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 6px 22px;
}

.button-item:hover, .button-item:focus {
  color: var(--main-white-color);
  background-color: var(--accent-color);
}

.about {
  margin-top: 60px;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .about {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

.about__box {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--background-primary-gray);
}

.about__title {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
@media screen and (min-width: 480px) {
  .about__title {
    text-align: left;
    width: 450px;
    height: 50px;
  }
}
@media screen and (min-width: 768px) {
  .about__title {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color);
    width: 100%;
  }
}

.about__pretitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--dark-main-color);
  margin-top: 0px;
  margin-bottom: 10px;
  text-align: center;
}
@media screen and (min-width: 480px) {
  .about__pretitle {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .about__pretitle {
    text-align: left;
  }
}

.about__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .about__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .about__item {
    width: calc((100% - 120px) / 4);
  }
}

.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.hero {
  padding: 118px 0 118px;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--main-footer-color);
  text-align: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4))), url(../images/background.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4) rgba(47, 48, 58, 0.4)), url(../images/background.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .hero {
    padding: 118px 0 198px;
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/header-mob-2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-mob-2x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/header-tablet-2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-tablet-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    margin-left: auto;
    margin-right: auto;
    width: 1600px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/header-desktop-2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-desktop-2x.jpg);
  }
}

.hero__pretitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  color: var(--main-white-color);
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  line-height: 1.6;
}
@media screen and (min-width: 480px) {
  .hero__pretitle {
    line-height: 1.6;
  }
}
@media screen and (min-width: 768px) {
  .hero__pretitle {
    font-size: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__pretitle {
    font-size: 44px;
  }
}

.hero__title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-white-color);
  background-color: var(--accent-color);
  border: none;
  outline: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 10px 24px;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    padding: 10px 32px;
  }
}

.whoweare {
  display: none;
}
@media screen and (min-width: 1200px) {
  .whoweare {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: var(--main-white-color);
    margin-top: 118px;
  }
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark-main-color);
}

.whoweare {
  padding-bottom: 94px;
}
.whoweare .team-title {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.whoweare .whoweare__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-logo {
  background: var(--accent-color);
}

.whoweare__item {
  position: relative;
}

.whoweare__list .whoweare__item + .whoweare__item {
  margin-left: 30px;
}

.whoweare__text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.teamphoto-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}
@media screen and (min-width: 480px) {
  .teamphoto-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.team .team-title {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .team .team-title {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 1199px) {
  .team-title {
    font-size: 28px;
    line-height: 1.7;
  }
}

.team-photo {
  background-color: var(--main-white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .team-photo {
    width: calc((100% - 30px) / 2);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .team-photo {
    width: calc((100% - 90px) / 4);
  }
}

.team {
  background-color: var(--background-primary-gray);
}
@media screen and (min-width: 768px) {
  .team {
    padding-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.teamdiv {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark-main-color);
  margin-bottom: 10px;
}

.team-soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.team-soc-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc-link:hover, .team-soc-link:focus {
  background-color: var(--accent-color);
}

.team-soc-icon {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: #afb1b8;
}
.team-soc-link:hover .team-soc-icon, .team-soc-link:focus .team-soc-icon {
  fill: #ffffff;
}

.team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
  color: var(--text-color);
}

.marketing-title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--dark-main-color);
}

.marketing-pre {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.marketing-wrap {
  position: relative;
  overflow: hidden;
}

.marketing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  list-style: none;
}

.marketing-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}
.marketing-item:hover, .marketing-item:focus {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 768px) {
  .marketing-item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .marketing-item {
    -ms-flex-preferred-size: calc((100% - 90px) / 3);
        flex-basis: calc((100% - 90px) / 3);
  }
}

.markdiv {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.marketing-text {
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--main-white-color);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 27px;
  height: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
}
.marketing-item:hover .marketing-text {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 30px;
  color: #212121;
}
@media screen and (max-width: 1199px) {
  .clients-title {
    font-size: 28px;
    line-height: 1.7;
  }
}
@media screen and (min-width: 1200px) {
  .clients-title {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 480px) {
  .clients-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
    row-gap: 30px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media screen and (max-width: 767px) {
  .clients-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media screen and (min-width: 768px) {
  .clients-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .clients-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .clients-item {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .clients-item {
    margin-bottom: 30px;
    width: calc((100% - 30px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients-item {
    width: calc((100% - 150px) / 6);
  }
}

.clients-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 170px;
  height: 90px;
  color: var(--logo-company-color);
  border: 1px solid var(--logo-company-color);
  border-radius: 4px;
  margin: 0px;
  padding: 16px 0px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover, .clients-link:focus {
  fill: #2196f3;
  border-color: var(--accent-color);
}
@media screen and (max-width: 767px) {
  .clients-link {
    width: 210px;
    height: 92px;
  }
}
@media screen and (min-width: 768px) {
  .clients-link {
    width: 226px;
    height: 92px;
  }
}
@media screen and (min-width: 1200px) {
  .clients-link {
    width: 170px;
    height: 92px;
  }
}

.clients-btn {
  fill: var(--logo-company-color);
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover .clients-btn, .clients-link:focus .clients-btn {
  fill: var(--accent-color);
}

.footmain {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footmain-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .footmain-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 70px;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.footer-logo {
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .footer-logo {
    margin-right: 93px;
  }
}

.studio-logofoot {
  color: var(--main-white-color);
}

.map-google {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--main-white-color);
  margin-bottom: 9px;
}

.map-name {
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .map-name {
    margin-bottom: 9px;
  }
}

.web {
  display: inline-block;
  text-align: center;
}

.footmain__add {
  text-align: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footmain__add {
    text-align: left;
    margin-bottom: auto;
  }
}

.footmain-adress {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footmain-item:not(:last-child) {
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .footmain-item:not(:last-child):not(:last-child) {
    margin-bottom: 8px;
  }
}

.address {
  display: inline-block;
  text-align: center;
}

.welcome {
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .welcome {
    margin-bottom: auto;
  }
}

.welcome-title {
  display: block;
  margin: 0;
  margin-bottom: 20px;
  color: var(--main-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .welcome-title {
    text-align: left;
  }
}

.team-soc-join {
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc-join:hover, .team-soc-join:focus {
  background-color: var(--accent-color);
}

.team-soc-icon1 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: white;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc-join:hover .team-soc-icon1 .team-soc-join:focus .team-soc-icon1 {
  fill: #ffffff;
}

.footer-form__icon {
  display: inline-block;
  margin-left: 10px;
  fill: var(--main-white-color);
}

@media screen and (min-width: 768px) {
  .footer-subscribe-form-wrapper {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .footer-subscribe-form-wrapper {
    width: auto;
  }
}

.form-title {
  color: var(--main-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .form-title {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.footer-form input[type=email] {
  margin-bottom: 20px;
  height: 50px;
  background: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  outline: none;
  padding: 12px 16px;
  font-size: 16px;
  line-height: 1.87;
  color: rgba(255, 255, 255, 0.6);
  width: 100%;
}
@media screen and (min-width: 768px) {
  .footer-form input[type=email] {
    max-width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form input[type=email] {
    width: 358px;
  }
}

.footer-form__button {
  border: 1px solid transparent;
  padding: 10px 32px;
  min-width: 200px;
  min-height: 50px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  color: var(--main-white-color);
  background-color: var(--accent-color);
  outline: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.06em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .footer-form__button {
    margin-left: 12px;
  }
}

.modal {
  position: relative;
  min-height: 609px;
  width: 450px;
  background-color: var(--main-white-color);
  border-radius: 4px;
  padding: 40px;
  -webkit-transition: -webkit-transform 250ms;
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  transition: transform 250ms, -webkit-transform 250ms;
}
@media screen and (min-width: 1200px) {
  .modal {
    position: absolute;
    min-height: 581px;
    width: 528px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1) rotate(0);
            transform: translate(-50%, -50%) scale(1) rotate(0);
  }
}

.backdrop {
  position: fixed;
  overflow: scroll;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms linear, visibility 250ms;
  transition: opacity 250ms linear, visibility 250ms;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0) rotate(-180deg);
          transform: translate(-50%, -50%) scale(0) rotate(-180deg);
}

.backdrop.is-hidden .modal .modal-close {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  color: #000000;
  background-color: var(--main-white-color);
  border-radius: 50%;
  border: none;
  outline: none;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close:hover, .close:focus, .close:active {
  fill: var(--main-white-color);
  border: 0.5px groove var(--background-primary-gray);
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
  display: block;
  fill: currentColor;
  margin: auto;
  background: #ffffff;
  border-radius: 4px;
  border-radius: 50%;
}

.close:hover .modal-close,
.close:focus .modal-close,
.close:hover,
.close:focus {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  background-color: var(--accent-color);
  fill: var(--main-white-color);
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-form {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  font-weight: 400;
  font-size: 12px;
  line-height: 0.8;
  letter-spacing: 0.01em;
  color: #757575;
}
.input-form:focus {
  outline-color: rgb(33, 150, 243);
}

.input-wrap {
  position: relative;
}

.input-field {
  margin-bottom: 12px;
}

.input-field-comm {
  margin-bottom: 30px;
}

.input-comment {
  margin-bottom: 20px;
}

.form-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
}
.input-form:focus + .form-icon {
  fill: rgb(33, 150, 243);
}

.error {
  display: none;
}

.input-title {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-color);
  display: block;
  margin-bottom: 4px;
  left: 42px;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 0.8;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.send-btn {
  display: block;
  background: #188ce8;
  color: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 10px 52px;
  min-width: 200px;
  min-height: 50px;
  cursor: pointer;
  outline: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-decoration: none;
  letter-spacing: 0.06em;
  text-align: center;
  margin: 0 auto;
}

.chekbox-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--text-color);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 1200px) {
  .chekbox-text {
    font-size: 14px;
    line-height: 1.7;
  }
}

.chekbox-text span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border-radius: 4px;
  cursor: pointer;
  fill: solid 212121;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-che:checked + .chekbox-text span {
  background-color: var(--accent-color);
  border-color: transparent;
}
.input-che:focus + .chekbox-text span {
  border-color: var(--accent-color);
}

.icon-che {
  border: 2px solid;
  border-color: var(--dark-main-color);
  fill: var(--main-white-color);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox {
  fill: var(--dark-main-color);
}

.modal-link {
  color: rgb(33, 150, 243);
  text-decoration: underline;
}

.chek-link {
  padding-left: 3px;
}

.input-che:checked + .chekbox-text .icon-che {
  background-color: var(--accent-color);
  border: none;
  fill: var(--main-white-color);
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
  margin-bottom: 12px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.connect__mail, .about__box, .team-soc-icon, .team-soc-join, .team-soc-icon1, .send-btn, .chekbox-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}/*# sourceMappingURL=main.css.map */