:root {
    --main-black-color: #000000;
    --main-white-color: #ffffff;
    --accent-color: #2196f3;
    --dark-main-color: #212121;
    --text-color: #757575;
    --main-footer-color: #2f303a;
    --background-primary-gray: #f5f4fa;
    --background-primary-darck: rgba(47, 48, 58, 0.8);
    --logo-company-color: #afb1b8;
  }