.about {
    // padding-top: 94px;
    // padding-bottom: 94px;
    @include mobile {
      margin-top: 60px;
      margin-bottom: 60px;
    }
    @include tablet {
      margin-top: 60px;
      margin-bottom: 60px;
    }
  }

  .about__box {
    justify-content: center;
    @extend %alight-list;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
    background-color: var(--background-primary-gray);
  }
  
  .about__title {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color);
    @include mobile{
      text-align: left;
      width: 450px;
      height: 50px;
  }
  @include tablet {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color);
    width: 100%;
  }
}

  .about__pretitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--dark-main-color);
      margin-top: 0px;
      margin-bottom: 10px;
      @media screen and (min-width: 480px){
        text-align: center;
        width: 100%;
      }
      @media screen and (min-width: 768px){
        text-align: left; 
      }
    }
  
  .about__item {
    width: 100%;
    @media screen and (min-width: 768px){
        width: calc((100% - 30px) / 2);
    }
    @media screen and (min-width: 1200px){
      width: calc((100% - 120px) / 4);
    }
  }

  .about__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  