.footmain {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
  text-align: center;
}

.footmain-container {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    gap: 70px;
    align-items: baseline;
  }
}

.footer-logo {
  margin-bottom: 20px;
  @include desktop {
    margin-right: 93px;
  }
}

.studio-logofoot {
  color: var(--main-white-color);
}

.map-google {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--main-white-color);
  margin-bottom: 9px;
}

.map-name {
  margin-bottom: 8px;
  @include desktop {
    margin-bottom: 9px;
  }
}

.web {
  display: inline-block;
  text-align: center;
}

.footmain__add {
  text-align: center;
  margin-bottom: 60px;

  @media screen and (min-width: 1200px) {
    text-align: left;
    margin-bottom: auto;
  }
}

.footmain-adress {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footmain-item:not(:last-child) {
  margin-bottom: 8px;
  @include desktop {
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
}

.address {
  display: inline-block;
  text-align: center;
}

.welcome {
  margin-bottom: 60px;
  @include desktop {
    margin-bottom: auto;
  }
}

.welcome-title {
  display: block;
  margin: 0;
  margin-bottom: 20px;
  color: var(--main-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.team-soc-join {
  @extend %alight-list;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.team-soc-icon1 {
  @extend %alight-list;
  justify-content: center;
  fill: white;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .team-soc-join:hover & .team-soc-join:focus & {
    fill: #ffffff;
  }
}

.footer-form__icon {
  display: inline-block;
  margin-left: 10px;
  fill: var(--main-white-color);
}

.footer-subscribe-form-wrapper {
  @include tablet {
    width: 100%;
  }

  @include desktop {
    width: auto;
  }
}

.form-title {
  color: var(--main-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.footer-form {
  @include desktop {
    display: flex;
    align-items: baseline;
  }
}

.footer-form input[type="email"] {
  margin-bottom: 20px;
  height: 50px;
  background: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  outline: none;
  padding: 12px 16px;
  font-size: 16px;
  line-height: 1.87;
  color: rgba(255, 255, 255, 0.6);
  width: 100%;

  @include tablet {
    max-width: 450px;
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
  }
}

.footer-form__button {
  border: 1px solid transparent;
  padding: 10px 32px;
  min-width: 200px;
  min-height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 15%);
  border-radius: 4px;
  cursor: pointer;
  color: var(--main-white-color);
  background-color: var(--accent-color);
  outline: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.06em;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  @include desktop {
    margin-left: 12px;
  }
}
