.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;

}

.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.web-logo {
  color: var(--accent-color);
}

.studio-logo {
  color: black;
}

.header-logo {
  margin-right: 93px;
}

.navigation__list {
  display: flex;
  align-items: center;
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.navigation__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: var(--dark-main-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
  color: var(--accent-color);
}
}

.connect {
  margin-left: auto;
}

.connect__item {
  &:not(:last-child) {
    margin-right: 50px;
  }
}

.line {
  position: relative;
  color: #2196f3;
}

.current::after {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  height: 4px;
  bottom: -0.5px;
  left: 0;
  bottom: -29px;
  background-color: var(--accent-color);
  border: none;
  border-radius: 2px;
}


.connect__tell {
  display: flex;
  align-items: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: var(--text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
  color: #2196f3;
}
}


.connect__mail {
  @extend %alight-list;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: #2196f3;
  }
}

.connect__icon {
  display: inline-flex;
  fill: currentColor;
  margin-right: 10px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .nav-main__mail:hover &,
  .nav-main__mail:focus & {
    fill: #2196f3;
  }
}
