.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  @include tablet {
    margin-left: auto;
  }
}

.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  }

.web-logo {
  color: var(--accent-color);
}

.studio-logo {
  color: black;
}

.header-logo {
  @media screen and (min-width: 768x) {
    margin-right: 88px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}

.navigation {
    display: none;
    @media screen and (min-width: 768px) {
      display: flex; 
    }
    @media screen and (min-width: 1200px) {
      display: block; 
    }
  }
  

.navigation__list {
  display: flex;
  align-items: center;
    @mixin tablet {
      display: flex; 
    }
    @mixin desktop {
      display: flex;
    }
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.navigation__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: var(--dark-main-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
  color: var(--accent-color);
}
@include tablet {
  padding-top: 32px;
  font-size: 14px;
    line-height: 1.14;
}
}

.connect {
  margin-left: auto;
  padding-top: 0;
  display: none;
  @include tablet
  { 
   display: flex;
 }
}

.connect__list {
  @include tablet
  { display: flex;
 }
  @include desktop {
    display: flex;
    align-items: center;
  }

}

.connect__item {
  &:not(:last-child) {
    margin-right: 50px;
    @include tablet {
      // margin: 0;
    }
  }
  @include desktop {
    margin-right: 50px;

  }
}

.line {
  position: relative;
  color: #2196f3;
}

.current::after {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  height: 4px;
  bottom: -0.5px;
  left: 0;
  bottom: -29px;
  background-color: var(--accent-color);
  border: none;
  border-radius: 2px;
}


.connect__tell {
  display: flex;
  align-items: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: var(--text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
  color: #2196f3;
}
@media screen and (min-width: 768px) and (max-width: 1200px){
    font-size: 12px;
    line-height: 1.16;
}}


.connect__mail {
  @extend %alight-list;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: #2196f3;
  }
  @include tablet {
   align-items: center;
  }
  @media screen and (min-width: 768px) and (max-width: 1200px){
    font-size: 12px;
    line-height: 1.16;
}
  }


.connect__icon {
  display: inline-flex;
  fill: currentColor;
  margin-right: 10px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .nav-main__mail:hover &,
  .nav-main__mail:focus & {
    fill: #2196f3;
  }
}

.menu__open__btn {
  display: flex;
  position: relative;
  padding: 0;
  margin-left: auto;
  @include tablet {
    display: none;
  }
  @include desktop {
    display: none;
  }
}

.open__icon {
  fill: #212121;
  background-color: #ffffff;
  border: none;
}

.mob__menu {
  display: flex;
  position: absolute;
  background-color: #ffffff;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  >.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  @include tablet {
    display: none;
  }
  @include desktop {
    display: none;
  }
}

.menu__close__btn {
  display: block;
  margin-left: auto;
  margin-top: 21px;
  @include tablet {
    display: none;
  }
  @include desktop {
    display: none;
  }
}

.close__icon {
  display: block;
  fill: currentColor;
  margin: auto;
  background: #ffffff;
  border-radius: 4px;
  border-radius: 50%;
}

.mob__menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob__menu__link {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 1.6;
letter-spacing: 0.02em;
color: #212121;;
}

.mob__connect {
  margin-bottom: 64px;
}

.mob__connect__item:not(:last-child) {
  margin-bottom: 32px;
}


.mob__connect__mail {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #757575;

}

.mob__connect__tell {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.2;
  letter-spacing: 0.02em; 
  color: #2196F3;
}

.mob__soc__list {
  display: flex;

}

.mob__soc__item:not(last-child) {
  margin-right: 20px;
}

.mob__soc__link { 
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 1.2x;
letter-spacing: 0.02em;
color: #2196F3;
}