.modal {
  position: absolute;
  min-height: 581px;
  width: 528px;
  background-color: #ffffff;
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  transition: transform 250ms;
  padding: 40px;
}

.backdrop {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  color: rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms linear, visibility 250ms;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0) rotate(-180deg);
}

.backdrop.is-hidden .modal .modal-close {
  transform: scale(1);
}

.close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  color: #000000;
  background-color: var(--main-white-color);
  border-radius: 50%;
  border: none;
  outline: none;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  transform: scale(1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus,
  &:active {
    fill: var(--main-white-color);
    border: 0.5px groove var(--background-primary-gray);
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.modal-close {
  display: block;
  fill: currentColor;
  margin: auto;
  background: #ffffff;
  border-radius: 4px;
  border-radius: 50%;
}

.close:hover .modal-close,
.close:focus .modal-close,
.close:hover,
.close:focus {
  transform: scale(1.3);
  background-color: var(--accent-color);
  fill: var(--main-white-color);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-form {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  font-weight: 400;
  font-size: 12px;
  line-height: 0.8;
  letter-spacing: 0.01em;
  color: #757575;
  &:focus {
    outline-color: rgba(33, 150, 243, 1);
  }
}

.input-wrap {
  position: relative;
}

.input-field {
  margin-bottom: 12px;
}

.input-field-comm {
  margin-bottom: 30px;
}

.input-comment {
  margin-bottom: 20px;
}

.form-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  .input-form:focus + & {
    fill: rgba(33, 150, 243, 1);
  }
}

/* .form-input:focus +.input-title{
    transform: translateY(-50%);
  } */

.error {
  display: none;
}

.input-title {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-color);
  display: block;
  margin-bottom: 4px;
  left: 42px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 0.8;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.send-btn {
  display: block;
  background: #188ce8;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 10px 52px;
  min-width: 200px;
  min-height: 50px;
  cursor: pointer;
  outline: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-decoration: none;
  letter-spacing: 0.06em;
  @extend %alight-list;
  text-align: center;
  margin: 0 auto;
}

.chekbox-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--text-color);
  @extend %alight-list;
  justify-content: center;
}

.chekbox-text span {
  display: flex;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border-radius: 4px;
  cursor: pointer;
  fill: solid 212121;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .input-che:checked + & {
    background-color: var(--accent-color);
    border-color: transparent;
  }
  .input-che:focus + & {
    border-color: var(--accent-color);
  }
}

.icon-che {
  border: 2px solid;
  border-color: var(--dark-main-color);
  fill: var(--main-white-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox {
  fill: var(--dark-main-color);
}

.modal-link {
  color: rgba(33, 150, 243, 1);
  text-decoration: underline;
}

.chek-link {
  padding-left: 3px;
}

.input-che:checked + .chekbox-text .icon-che {
  background-color: var(--accent-color);
  border: none;
  fill: var(--main-white-color);
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
  margin-bottom: 12px;
}
