.menu {
  // TODO: mobile padding
  @include tablet {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @include desktop {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.button-logo {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--dark-main-color);
  display: flex;
  gap: 15px 8px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;

  // TODO replace on mixins
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1200px) {
    justify-content: center;
    margin-bottom: 50px;
  }
}

.button-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: #212121;
  background: #f5f4fa;
  border-radius: 4px;
  border: 0px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color, background-color;
  // transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  //   background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 6px 22px;
}

.button-item {
  &:hover,
  &:focus {
    color: var(--main-white-color);
    background-color: var(--accent-color);
  }
}
