.menu {
  padding-top: 94px;
  padding-bottom: 94px;
}

.button-logo {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--dark-main-color);
}

.button-logo {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
  list-style: none;
  font-style: normal;
}

.button-logo .item:not(:last-child) {
  margin-right: 8px;
}

.button-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: #212121;
  background: #f5f4fa;
  border-radius: 4px;
  border: 0px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 6px 22px;
}

.button-item {
  &:hover,
  &:focus {
    color: var(--main-white-color);
    background-color: var(--accent-color);
  }
}
