.teamphoto-list {
  display: flex;
  gap: 30px;
}

.team .team-title {
  justify-content: center;
  margin-bottom: 50px;
}

.team-photo {
  width: calc(100% - 60px / 3);
  background-color: var(--main-white-color);
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 0px 0px 4px 4px;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--background-primary-gray);
}

.teamdiv {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark-main-color);
  margin-bottom: 10px;
}

.team-soc {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.team-soc-link {
  display: flex;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  align-items: center;
  justify-content: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.team-soc-icon {
  @extend %alight-list;
  justify-content: center;
  fill: #afb1b8;
  .team-soc-link:hover &,
  .team-soc-link:focus & {
    fill: #ffffff;
  }
}

.team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
  color: var(--text-color);
}
